<h2>Your Requests</h2>

<div class="flex">
  <div class="requestsmade">
    <span class="titleoftable">
      Requests You Have Received:
      </span><br><br>
      <% @landlordrequests.each do |space| %>
      <span class="requestbox">
        <span class="name">Space name: <%= space['name'] %></span><br>
        <span class="approved">Status: <%= space['approved'] %></span><br>
        <span class="username">Requested by: <%= space['username'] %></span>
      </span>
      <% end %>
  </div>
  <div class="requestsreceived">
    <span class="titleoftable">
      Requests You Have Made:
      </span>
      <% @space_names = [] %>
      <% @tenantrequests.each do |i| %>
      <% @space_names << Space.find(id: i.space_id) %>
      <% end %>
      <% @space_names.each do |space| %>  
        <span class="requestbox">
        <span class="name">Name of space: <%= space.name %></span><br>
        <span class="approved">Status: <%= space.booking %></span><br>
      </span>
      <% end %>
  </div>
</div>
